<h1>Reservations</h1>
<p>Thanks for making a reservation at:</p>
<%= @reservation.restaurant.name %> @ <%= @reservation.rtime %> for a party of <%= @reservation.party_size %><br><br>

Reservations:capacity ratio @ <%= @reservation.rtime %> = <%= @reserved_count %>/<%= @restaurant.capacity %>

<%= button_to "Homepage", root_path, :method => "get" %>

