<h1>Restaurants#indexx</h1>
<% @all.each do |x| %>
	<%= link_to x.name, restaurant_reservations_path(x) %><br>
	<%= x.image %><br>
	<%= x.current_capacity %>/<%= x.capacity %>
	
<% end %> 
<p><%= @reservation.user_id %> </p>