<nav class="top-bar" data-topbar>
	<ul class="title-area">
		<li class="name">
			<h1><%= link_to "SeatYourself", root_path %></h1>
		</li>
	</ul>	
	<section class="top-bar-section">
		<ul class="right">
			<li >
				<a href="#">Add your restaurant!</a>	
			</li>
			<li class="divider"></li>
			<li class="has-form">
				
			<%= form_tag restaurants_path, method: :get, authentication: false, id: 'search-form' do %>
				<div class="searchy large-8 small-9 columns">
					<%= text_field_tag :search, params[:search] %>
				</div>
				<div class="searchi large-4 small-3 columns ">
					<%= submit_tag "Search" %>
				</div>
				<% end %>
			</li>
		</ul>
	</section>
</nav>
<div class ="footer">
	<% if notice %>
	<p class="alert alert-success"><%= notice %></p>
	<% end %>
	<% if alert %>
	<p class="alert alert-danger"><%= alert %></p>
	<% end %>

	<p class="navbar-text pull-right">
		<% if user_signed_in? %>
		Logged in as <strong><%= current_user.email %></strong>.
		<%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
		<%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
		<% else %>
		<%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
		<%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
		<% end %>
	</div>
